vendor/
logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
build/
build/*
bin/
bin/*
.settings/
.settings/*
.idea/
.buildpath
.project
/deployment.properties
/deployment.xml
public/cache/
config/melis.module.load.php
module/MelisModuleConfig/config/translation.list.php
