.vagrant/
vendor/
#config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache

logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
build/
build/*
# bin/
# bin/*
.settings/
.settings/*
.idea/
.buildpath
.project
/deployment.properties
/deployment.xml
module/MelisModuleConfig/config/translation.list.php
dbdeploy/
# development mode config
config/autoload/development.local.php
config/development.config.php
# isntallation changes
config/melis.module.load.php
module/MelisModuleConfig/config/app.interface.php
config/melis.install