/* =============== Primary Color =============== */
a,
a:hover {
    color: #e61c23;
}

body .navbar.main.navbar-primary {
    background-color: #e61c23;
}

#melis-navtabs-container-outer {
    background: #e61c23;
}

#melis-id-nav-bar-tabs {
    background: #e61c23;
}

.navbar.main.navbar-primary .nav > li.active > .dropdown-toggle,
.navbar.main.navbar-primary .nav > li.active .dropdown-toggle .fa,
.navbar.main.navbar-primary .nav > li.active .dropdown-toggle:hover,
.navbar.main.navbar-primary .nav > li.active .dropdown-toggle:hover .fa,
.navbar.main.navbar-primary .nav > li .dropdown-toggle:hover,
.navbar.main.navbar-primary .nav > li .dropdown-toggle:hover .fa {
    color: #e61c23 !important;
}

.nav-tabs.product-text-tab li.active a,
.nav-tabs.product-text-tab li.active:focus a,
.nav-tabs.product-text-tab li.active:active a,
.nav-tabs.product-text-tab li a:hover {
    background: #e61c23;
}

.navbar.main.navbar-primary .left-menu {
    background: #e61c23;
}

.navbar.main .nav.navbar-right {
    background: #e61c23;
}
.navbar.main .nav.navbar-right li:first-child {
    border-left: 1px solid #c52127;
}
.navbar.main.navbar-primary .nav>li>a:hover {
    background: #c52127;
}

.navbar.main .nav.navbar-right li {
    border-bottom: 1px solid #c52127;
}
.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-tabs > li > a:hover {
    background: #fff;
    color: #e61c23;
    text-shadow: none;
}

.sidebar.sidebar-inverse .user-profile ul li.active,
.sidebar.sidebar-inverse .user-profile ul li.active:hover {
    border-color: #e61c23;
}

.sidebar.sidebar-inverse .user-profile ul li.active a,
.sidebar.sidebar-inverse .user-profile ul li.active:hover a {
    background: #e61c23;
}

.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active-menu.hasSubmenu > a[data-toggle="collapse"] {
    background-color: #e61c23;
}

/* Widgets */
.widget.widget-tabs>.widget-head ul li.active a.glyphicons,
.widget.widget-tabs>.widget-head ul li.active a.glyphicons i:before {
    color: #e61c23;
}

.widget.widget-tabs-icons-only-2>.widget-head ul li a.glyphicons:hover i:before {
    color: #e61c23;
}

.widget.widget-tabs-double-2>.widget-head ul li:hover a {
    color: #e61c23;
}

.widget.widget-tabs-double-2>.widget-head ul li:hover a i:before {
    color: #e61c23;
}

.wizard .widget.widget-tabs-double>.widget-head ul li a.glyphicons:hover {
    color: #e61c23;
}

.wizard .widget.widget-tabs-double>.widget-head ul li a.glyphicons:hover i:before,
.wizard .widget.widget-tabs-double>.widget-head ul li.active a.glyphicons:hover i:before {
    color: #e61c23;
}

.wizard .widget.widget-tabs-double>.widget-head ul li a.glyphicons:hover,
.wizard .widget.widget-tabs-double>.widget-head ul li.active a.glyphicons:hover {
    color: #e61c23;
}

.wizard.wizard-design .widget.widget-tabs-double>.widget-head ul li.active a.glyphicons,
.wizard.wizard-design .widget.widget-tabs-double>.widget-head ul li.active a.glyphicons i:before {
    color: #e61c23;
}

.dropdown-menu li.active a,
.dropdown-menu li.active:hover a {
    background-color: #e61c23;
}

.text-primary {
    color: #e61c23 !important;
}

.ra-username {
    color: #e61c23;
}

/* Dashboard */
.bg-primary {
    background: #e61c23 !important;
}

.overlay-loader {
    background: #e61c23;
}

.datepicker thead th.dow {
    background: #e61c23 !important;
}

.table-primary thead th {
    border-color: #e61c23;
    background-color: #e61c23;
}

.pagination > li.active > a,
.pagination > li.active > a:focus,
.pagination > li.active > a:hover {
    background: #e61c23;
    border-color: #e61c23;
}

.pagination>li>a:hover,
.pagination>li.primary>a {
    background: #e61c23;
}

/* Buttons */
.btn-primary {
    background: #e61c23;
    border-color: #e61c23;
}
.btn-primary:active:hover,
.btn-primary[disabled]:hover {
    color: #e61c23;
    border-color: #e61c23;
    background: #fff;
}



.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #e61c23;
    border-color: #e61c23;
}

.btn-primary.btn-stroke {
    color: #e61c23;
}

.btn-primary.btn-stroke:hover,
.btn-primary.btn-stroke:focus,
.btn-primary.btn-stroke:active,
.btn-primary.btn-stroke.active {
    background: #e61c23;
}

/* Modal */
.modal-content .widget .widget-head {
    background: #e61c23;
}

/* Nav Tabs */
.tabsbar .nav-group-dropdown li .tab-element {
    background: #e61c23;
}
.tabsbar .nav-group-dropdown li:hover > .tab-element > i:before {
    color: #e61c23;
}

.tabsbar .nav-group-dropdown li.active > a.tab-element > i:before {
    color: #e61c23;
}

.navbar.main.navbar-primary .tabsbar li:hover > .tab-element {
    color: #e61c23;
}

.tabsbar .nav-group-dropdown li.active > a.tab-element {
    color: #e61c23 !important;
}

.tabsbar .has-sub.active > .tab-element i:before {
    color: #e61c23;
}

.tabsbar .has-sub:hover > .tab-element:before {
    color: #e61c23;
}

.tabsbar .has-sub.active-parent.on > .tab-element i:before {
    color: #e61c23;
}

.tabsbar .has-sub.active-parent.on > .tab-element:before {
    color: #e61c23;
}

.tabsbar .has-sub.active-parent.on > .tab-element {
    color: #e61c23 !important;
}

.tabsbar .has-sub.active > .tab-element:before {
    color: #e61c23;
}

.tabsbar.tabsbar-2 ul li.active {
    background: #e61c23;
}

.tabsbar ul li.active a {
    background: #e61c23;
}

.tabsbar.tabsbar-2 ul li:not(.active):hover a {
    color: #e61c23;
}

.tabsbar.tabsbar-2 ul li:not(.active):hover a i:before {
    color: #e61c23;
}

/* Accordion */
.tab-pane a.btn.a-accordion.collapsed:hover,
.tab-pane a.btn.a-accordion {
    border-color: #e61c23;
    background: #e61c23;
}

.tab-pane a.btn.a-accordion.collapsed {
    background: #e61c23;
}

.commerce-toggle .panel-heading {
    background-color: #e61c23;
}

.commerce-toggle .accordion-toggle {
    background-color: #e61c23 !important;
}

.ranges li {
    color: #e61c23;
}

.ranges li.active {
    background: #e61c23;
    border: 1px solid #e61c23;
}

.ranges li:hover {
    background: #e61c23;
    border: 1px solid #e61c23;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-left: 1px solid #e61c23;
}

.content-cont .nav-tabs.product-text-tab li.active a,
.content-cont .nav-tabs.product-text-tab li.active:focus a,
.content-cont .nav-tabs.product-text-tab li.active:active a,
.content-cont .nav-tabs.product-text-tab li a:hover {
    background: #e61c23;
}

.orderPaymentCouponLink {
    color: #e61c23;
}

/* Media Queries */
@media (min-width: 768px) {
    .navbar #melis-id-nav-bar-tabs > li {
        background: #e61c23;
    }

    .navbar #melis-id-nav-bar-tabs > li:hover > a {
        color: #e61c23 !important;
    }

    .navbar #melis-id-nav-bar-tabs > li:hover > a > i {
        color: #e61c23;
    }

    .navbar #melis-id-nav-bar-tabs > li > a.close:hover:before {
        color: #e61c23;
    }

    .melis-tabprev,
    .melis-tabnext {
        background: #e61c23;
    }

    .melis-tabprev:hover,
    .melis-tabnext:hover {
        color: #e61c23;
    }
}

/* MarketPlace */
.melis-store .post-info a {
    color: #e61c23;
}

/* Modules */
.module-settings .ms-heading {
    background: #e61c23;
}

/* DragnDrop */
.melis-cms-dnd-box {
    border-bottom: 4px solid #e61c23;
    border-left: 4px solid #e61c23;
}
.melis-cms-dnd-title {
    background: #e61c23;
}

.module-display-heading .ms-heading {
    background: #e61c23;
}

/* Commerce */
.red-box-panel h3 {
    border-bottom: 1px solid #e61c23;
    background: #e61c23;
}


.widget-red {
    background: #e61c23 !important;
}


.meliscms-search-box.sidebar-treeview-search .sbox-icon:hover {
    background: #e61c23;
}

.progress .progress-bar.progress-bar-primary {
    background:  #e61c23;
}

.rating span.star.active:before, .rating span.star.active~span.star:before {
    color: #e61c23;
}

.page-elements .innerAll.spacing-x2 .widget.widget-primary {
    background: #e61c23;
}

.resume-documents li a i {
    color: #e61c23;
}

.timeline-activity li.active i.list-icon {
    background-color: #e61c23;
    border: 2px solid #e61c23;
}

.timeline-activity li:hover i.list-icon,
.timeline-activity li.active:hover i.list-icon {
    border-color: #e61c23;
    color: #e61c23;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e61c23;
}

.table-pricing-2 th {
    background: #e61c23;
}

.list-group-1>li.active, .list-group-1>li.active:hover {
    background: #e61c23;
}

.table-primary tbody td.important {
    color: #e61c23;
}

.table-pricing-3>ul>li.active .body {
    border-color: #c52127;
    background-color: #e61c23;
}

.innerAll.bg-primary .media {
    background: #e61c23;
}

.layout-timeline ul.timeline > li.active::before {
    background: #e61c23 none repeat scroll 0 0 !important;
}

.layout-timeline ul.timeline > li.active .type::before,
.layout-timeline ul.timeline > li.active .type::after {
    background: #e61c23 none repeat scroll 0 0 !important;
}

.layout-timeline ul.timeline > li.active .type i::before {
    color: #e61c23 !important;
}

.layout-timeline ul.timeline > li.active .type {
    color: #e61c23 !important;
}

.pricing-table.primary .list-group {
    background: #e61c23;
}

.pricing-table.primary .caret {
    border-top-color: #e61c23;
}

.bwizard-steps li.active {
    background: #e61c23;
}

.bwizard-steps li.active:after {
    border-left-color: #e61c23;
}

.slider-nav .slick-track .slick-slide {
    background:  #e61c23;
}

.slider-nav .slick-track .slick-slide:before {
    border-top: 1px solid #e61c23;
    border-bottom: 1px solid #e61c23;
}

.fc-event, .fc-event:hover {
    background: #e61c23;
}

.event-icon {
    background: #e61c23;
}

.update-event:hover {
    background: #e61c23;
}

::-webkit-scrollbar-thumb {
    background: #e61c23;
}

.nicescroll-cursors {
    background: #e61c23 !important;
}

.content-cont .widget.widget-tabs-double-2>.widget-head ul li a:hover {
    color: #e61c23;
}

#external-events li {
    background: #e61c23;
}


.notyfy_wrapper.notyfy_primary {
    background: #e61c23;
}

div.glyphicons.glyphicon-primary i:before,
div.glyphicons-social.glyphicon-primary i:before {
    color: #e61c23;
}

.nav-pills.nav-timeline>li>a {
    background: #e61c23;
}

.widget.widget-wizard-pills .widget-head ul li.primary a {
    background: #e61c23;
}

.wizard-design .pagination > li.next > a:focus {
    background: #e61c23;
}

.activity-line .icon.primary {
    background: #e61c23;
}

.activity-line .color-widget.primary {
    background: #e61c23;
}
/* User Profile */
.profile-photo .image-tool-tip {
    background: #e61c23;
}

.profile-photo:hover .photo-overlay {
    background: #e61c23;
    opacity: 0.5;
}

.u-username {
    color: #e61c23;
}

.u-lists .fa {
    color: #e61c23;
}
.
    /* Language */
.language-list .site i {
    color: #e61c23;
}
.open-page-from-lan-tab[data-opentab]:hover {
    color: #e61c23;
}
.open-page-from-lan-tab[data-opentab]:hover .site {
    color: #e61c23;
}
.login-page .navbar.main .nav.navbar-right {
    background: #e61c23;
}
/* =============== Secondary Color =============== */
.reponsive-menu-tabs:hover span, .reponsive-menu-tabs:hover .fa {
    color:  #c52127;
}
.navbar #melis-id-nav-bar-tabs > li {
    border-bottom: 1px solid #c52127;
}

.cb-cont .cbmask-outer {
    border: 2px solid #c52127;
}
.navbar.main.navbar-primary .navbar-brand {
    border-bottom: 1px solid #c52127;
}
#newplugin-cont .nav .open > a, #newplugin-cont .nav > li > a:focus, #newplugin-cont .nav .open > a:focus, #newplugin-cont .nav > li > a:hover, #newplugin-cont .nav .open > a:hover {
    background-color: #c52127;
}
#res-page-cont {
    border-bottom: 1px solid #c52127;
}
.widget.widget-body-primary>.widget-body {
    background-color: #c52127;
}

.form-group i.fa-info-circle + .tooltip .tooltip-inner {
    background-color: #c52127;
}

.tooltip .tooltip-inner {
    background-color: #c52127;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #c52127;
}



.tickets li .media-heading {
    color: #c52127;
}

.checkbox-custom i.checked {
    color: #c52127;
}

#events-carousel.owl-theme .owl-controls .owl-page span {
    background: #c52127;
}

#events-speakers.owl-theme .owl-controls .owl-page span {
    background: #c52127;
}

.carousel.carousel-1 .carousel-indicators li.active {
    background: #c52127;
}

.carousel.carousel-1 .carousel-indicators li {
    background: #c52127;
}

.nav-timeline>li.active>a {
    background: #c52127;
}
.nav-pills.nav-timeline>li>a:hover {
    background: #c52127;
}

.nav-tabs>li>a:hover, .nav-pills>li>a, .nav-pills>li>a:hover {
    color: #c52127;
}

.list-group-1>li:hover>a>[class*="fa-"] {
    color: #c52127;
}

.navbar.main.navbar-primary .toggle-button i {
    color: #c52127;
}

.module-settings .ms-heading .tooltip .tooltip-inner {
    background: #c52127;
}
.pagination>li>a, .pagination>li>span {
    color: #c52127;
}

.calendar-highlight {
    background: #c52127;
}

.datepicker .table-condensed tr td.active,
.datepicker .table-condensed tr td.active:hover,
.datepicker .table-condensed tr td.active.disabled,
.datepicker .table-condensed tr td.active.disabled:hover {
    background: #c52127 !important;
}

/* Media Queries */
@media (max-width: 768px) {
    .login-page .navbar.main .nav>li .dropdown-menu li {
        border-color: #c52127;
    }
}
@media (min-width: 768px) {
    .navbar #melis-id-nav-bar-tabs > li {
        border-right: 1px solid #c52127;
    }

    .navbar.main.navbar-primary .navbar-brand {
        border-right: 1px solid #c52127;
    }

    .navbar.main .nav.navbar-right > li {
        border-left-color: #c52127;
    }

    .navbar.main .nav.navbar-right > li {
        border-right: 1px solid #c52127;
    }

    .container-level-a  .tooltabmodal .widget.widget-tabs.widget-tabs-responsive > .widget-head ul li {
        border-right: 1px solid #c52127;
    }
}

/* Melis Default Color */
.melis-primary-txt {
    color: #c52127 !important;
}

.melis-primary-bg {
    background: #e61c23 !important;
}
